body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: rgb(245, 246, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.contenedor{
    background-color: rgb(180, 180, 241);
    border-radius: 0px;
    max-width: 600px;
    box-shadow: 0px 0px 10px rgb(32, 32, 32);
    padding: 40px;
    width: 90%;
}

form input {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: red;
    border-radius:  10px;
    color: aquamarine;
    cursor: pointer;
    border: none;


}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;

}
table,th,td {

    border: 2px solid rgb(247, 244, 244);
    text-align: center;
}
