<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div class="contenedor">
    <h2 style="color: white;">USUARIO</h2>
    <form method="post" >
        <input type="text" placeholder="Ingrese su nombre" name="nombre">
        <input type="text"placeholder="Ingrese su correo" name="correo">
    <button>REGISTRAR</button>
    </form>
<table>
    <tr>
        <th>ID</th>
        <th>NOMBRE USUARIO</th>
        <th>CORREO USUARIO</th>
        <th>ACCIONES</th>
    </tr>
{% for persona in usuario %}
    <tr>
        <td>{{ persona.id }}</td>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.correo }}</td>
        <td><a href="/?eliminar={{persona.id}}">Eliminar</a></td>
    </tr>


    {% endfor %}



</table>



</div>




    

</body>
</html>